@model IEnumerable<ProjetoFuncionarios.Models.Escala>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoEscala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntervaloSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntervaloRetorno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioSaida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoEscala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntervaloSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntervaloRetorno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioSaida)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
