<head>
    <link rel="stylesheet" href="~/css/Cargo.css" asp-append-version="true" />
</head>
@model IEnumerable<ProjetoFuncionarios.Models.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalarioCargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Escala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalarioCargo)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Escala.DescricaoHorario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
