@model IEnumerable<Ponto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Criar um novo</a>
</p>
<div>
    @using (Html.BeginForm("Index", "Ponto", FormMethod.Get))
    {
        <p>
            Digite aqui sua pesquisa: @Html.TextBox("Pesquisa")
            <input type="submit" value="Pesquisar">
        </p>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HorarioEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaidaAlmoco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VoltaAlmoco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaidaAlmoco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VoltaAlmoco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuncionarioId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
