@model IEnumerable<FuncionariosFinal.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<div class="TextEscalaeBut">
    <h2>Funcionarios</h2>

    <p>
        <a asp-action="Create"><img class="But-add" src="~/Imagens/icon-add.png" /></a>
    </p>
</div>

<div>
    @using (Html.BeginForm("Index", "Ponto", FormMethod.Get))
    {
        <p>
            @Html.TextBox("pesquisa", "", new{ @class = "pesquisaCargo", placeholder = "Digite sua pesquisa" })
            <input class=" But-BarraDePesquisa" type="submit" value="Pesquisar" />
        </p>

    }

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeFuncionario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeFuncionario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo.DescricaoCargo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
